html {
  font-size: 62.5%; }

html {
  height: 100%; }

body {
  min-height: 100%; }

@font-face {
  font-family: 'nb_grotesksemibold';
  src: url("../fonts/nbgrotesk-semibold-webfont.eot");
  src: url("../fonts/nbgrotesk-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nbgrotesk-semibold-webfont.woff2") format("woff2"), url("../fonts/nbgrotesk-semibold-webfont.woff") format("woff"), url("../fonts/nbgrotesk-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"), url("../fonts/Inter-UI-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2"), url("../fonts/Inter-UI-Italic.woff") format("woff"); }
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"), url("../fonts/Inter-UI-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Inter-UI-MediumItalic.woff2") format("woff2"), url("../fonts/Inter-UI-MediumItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"), url("../fonts/Inter-UI-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2"), url("../fonts/Inter-UI-BoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Inter-UI-Black.woff2") format("woff2"), url("../fonts/Inter-UI-Black.woff") format("woff"); }
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Inter-UI-BlackItalic.woff2") format("woff2"), url("../fonts/Inter-UI-BlackItalic.woff") format("woff"); }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'nb_grotesksemibold', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.4rem;
  color: #070708;
  background: #FFF;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; }

video {
  object-fit: fill; }

.fade-in, .pre-load-fade-in {
  opacity: 0;
  transition: opacity 0.2s; }

a:link, a:visited, a:active, a:hover {
  color: #070708;
  text-decoration: none; }

a {
  transition: opacity 0.2s; }

p, h1, h2, h3 {
  font-weight: normal;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3.2rem;
  line-height: 4rem; }

p {
  font-family: 'inter UI';
  font-size: 1.6rem;
  line-height: 2.4rem; }

p.mini-text {
  font-size: 1.4rem;
  line-height: 1.8rem; }

p.big-text {
  font-size: 2.0rem;
  line-height: 2.8rem;
  padding: 3.2rem;
  width: 100%; }
  @media (min-width: 1024px) {
    p.big-text {
      font-size: 3.2rem;
      line-height: 4rem;
      width: 60%; } }

div#l-body-wrapper {
  width: 100%; }
  div#l-body-wrapper section {
    height: auto; }
    div#l-body-wrapper section:after {
      display: table;
      clear: both;
      content: ''; }

.l-full-block {
  float: left;
  display: block;
  position: relative; }
  .l-full-block img, .l-full-block video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }

.l-full-block {
  width: 100%;
  height: 112.5vw; }
  .l-full-block img {
    height: 100%; }
  @media (min-width: 1024px) {
    .l-full-block {
      width: 100%;
      height: 56.25vw; } }

/*# sourceMappingURL=bespoke.css.map */
