html {
  font-size: 62.5%; }

html {
  height: 100%; }

body {
  min-height: 100%; }

@font-face {
  font-family: 'nb_grotesksemibold';
  src: url("../fonts/nbgrotesk-semibold-webfont.eot");
  src: url("../fonts/nbgrotesk-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nbgrotesk-semibold-webfont.woff2") format("woff2"), url("../fonts/nbgrotesk-semibold-webfont.woff") format("woff"), url("../fonts/nbgrotesk-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SuisseIntl-Book';
  src: url("../fonts/SuisseIntl-Book.eot");
  src: url("../fonts/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Book.woff2") format("woff2"), url("../fonts/SuisseIntl-Book.woff") format("woff"), url("../fonts/SuisseIntl-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'SuisseIntl-Book', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.8rem;
  color: #070708;
  background: #FFF;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background: #FFF; }

video {
  object-fit: fill; }

.fade-in, .pre-load-fade-in {
  opacity: 0;
  transition: opacity 0.2s; }

a:link, a:visited, a:active, a:hover {
  color: #070708;
  text-decoration: none; }

a {
  transition: opacity 0.2s; }

a.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem; }

p, h1, h2, h3 {
  font-weight: normal;
  margin: 0;
  padding: 0; }

h1 {
  font-family: 'nb_grotesksemibold';
  text-transform: uppercase; }

p {
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -0.04rem; }

p.mini-text {
  font-size: 1.4rem;
  line-height: 1.8rem; }

p.big-text {
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -0.1rem; }
  @media (min-width: 1024px) {
    p.big-text {
      font-size: 5rem;
      line-height: 5.5rem;
      letter-spacing: normal; } }
  p.big-text a {
    border-bottom: 0.4rem solid #070708; }

div#l-images-wrapper {
  position: absolute;
  height: 77.3vh;
  background: #FF0000;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; }
  div#l-images-wrapper div.l-images-cluster {
    -webkit-overflow-scrolling: touch;
    height: inherit; }
    div#l-images-wrapper div.l-images-cluster img {
      display: inline-block;
      height: 100px;
      width: 500px; }

div#l-title-wrapper {
  position: absolute;
  bottom: 4.8rem;
  height: calc(22.7vh - 4.8rem);
  background: #FFF;
  display: flex;
  padding: 1rem; }
  div#l-title-wrapper svg {
    height: 100%;
    width: auto; }

div#l-info-ribbon {
  height: 4.8rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFF;
  width: 100vw; }
  div#l-info-ribbon a {
    float: right; }

section#l-about-wrapper {
  padding: 7rem 1rem 1rem 1rem; }
  @media (min-width: 1024px) {
    section#l-about-wrapper {
      padding: 2rem 2rem 2rem 6rem; } }

div#about-spacer {
  display: block;
  height: 7rem; }
  @media (min-width: 1024px) {
    div#about-spacer {
      height: 8rem; } }

.l-full-block {
  float: left;
  display: block;
  position: relative; }
  .l-full-block img, .l-full-block video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }

.l-full-block {
  width: 100%;
  height: 112.5vw; }
  .l-full-block img {
    height: 100%; }
  @media (min-width: 1024px) {
    .l-full-block {
      width: 100%;
      height: 56.25vw; } }

/*# sourceMappingURL=bespoke.css.map */
