//colors

$white: #FFF;
$black: #070708;

//transitions
$fast: 0.2s;
$slow: 0.5s;
$crawling: 1s; 

//text
$body-text-size: 2rem;
$body-text-line-height: 2.8rem;
$smoothing: antialiased;

//breakpoints
$breakpoint-tablet: 480px;
$breakpoint-desktop: 1024px;

//grid
$gutter: 3.2rem;
$doublegutter: $gutter * 2;

//layers
$bottom-layer:10;
$middle-layer:20;
$top-layer:30;
$super-layer:40;
$god-layer:50;

html {
  //set font size so 1rem = 10px
  font-size: 62.5%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
//fonts

@font-face {
    font-family: 'nb_grotesksemibold';
    src: url('../fonts/nbgrotesk-semibold-webfont.eot');
    src: url('../fonts/nbgrotesk-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nbgrotesk-semibold-webfont.woff2') format('woff2'),
         url('../fonts/nbgrotesk-semibold-webfont.woff') format('woff'),
         url('../fonts/nbgrotesk-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
 font-family: 'SuisseIntl-Book';
 src: url("../fonts/SuisseIntl-Book.eot");
 src: url("../fonts/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Book.woff2") format("woff2"), url("../fonts/SuisseIntl-Book.woff") format("woff"), url("../fonts/SuisseIntl-Book.ttf") format("truetype");
 font-weight: normal;
 font-style: normal; 
}
//set box sizing mode
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'SuisseIntl-Book', sans-serif;
  font-size:$body-text-size;
  font-weight:normal;
  line-height:$body-text-line-height;
  color:$black;
  background:$white; 
  height:100%;
  //to prevent sub-pixel rounding problems set overflox x to hidden
  overflow-x:hidden;
  -webkit-font-smoothing: $smoothing;
}

// Clearfix mixin
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

//video general
video{
  object-fit: fill;
}

//helpful classes
@mixin vertical-align-element{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
@mixin vertical-align-parent{
  top:50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

//fade-in class for sequential fading
.fade-in, .pre-load-fade-in{
  opacity:0;
  transition: opacity $fast;
}

//default anchors and typography
a:link, a:visited, a:active, a:hover{
  color:$black;
  text-decoration:none;
}
a{
  transition: opacity $fast;
}
a.close-button{
  position:absolute;
  top:0.5rem;
  right:1rem;
}
p,h1, h2, h3{
  font-weight:normal;
  margin:0;
  padding:0;
}
h1{
  font-family:'nb_grotesksemibold';
  text-transform: uppercase;
}
p{
  font-size:2rem;
  line-height:2.8rem;
  letter-spacing:-0.04rem;
}
p.mini-text{
  font-size:1.4rem;
  line-height:1.8rem;
}
p.big-text{
  font-size:3.5rem;
  line-height:4rem;
  letter-spacing:-0.1rem;
    @media (min-width: $breakpoint-desktop){
      font-size:5rem;
      line-height:5.5rem;
      letter-spacing:normal;
  }
  a{
    border-bottom:0.4rem solid $black;
  }
}

//lay-out elements and wrappers
div#l-body-wrapper{
}
section#l-gallery-wrapper{
  height:100vh;
  background:#FF00FF;
}
div#l-images-ribbon{
  background:#FF0000;
  height:77.3vh;
  width:10000px;
  div.image-cluster{
    display:inline-block;
    height:inherit;
    img{
      float:left;
      display:block;
      height:inherit;
      width:auto;
    }
  }
}
div#l-text-ribbons-wrapper{
  background:#000;
  height:calc(22.7vh - 4.8rem);
}
div#l-titles-ribbon{
  position:fixed;
  background:$white;
  height:calc(22.7vh - 4.8rem);
  padding-left:0.8rem;
  h1{
    font-size:calc(22.7vh - 4.8rem);
    line-height:calc(22.7vh - 4.8rem);
  }
}
div#l-small-ribbon{
  position:fixed;
  background:$white;
  bottom:0;
  width:100vw;
  padding:1rem;
  a{
    float:right;
  }
}
section#l-about-wrapper{
  max-width:60rem;
  padding:7rem 1rem 1rem 1rem;
  @media (min-width: $breakpoint-desktop){
   max-width:84.6rem;
   padding:2rem 2rem 2rem 6rem;
  }
}
div#about-spacer{
  display:block;
  height:7rem;
  @media (min-width: $breakpoint-desktop){
    height:8rem;
  }
}

//blocks and grid

//blocks
%l-block{
  float:left;
  display:block;
  position:relative;
  img, video{
    width:100%;
    height:100%;
    display:block;
    object-fit:cover;
  }
}
// top level blocks
.l-full-block{
  @extend %l-block;
  width:100%;
  height:112.5vw;
  img{
    height:100%;
  }
  @media (min-width: $breakpoint-desktop){
    width:100%;
    height:56.25vw;
  }
}
