//colors

$white: #FFF;
$black: #070708;

//transitions
$fast: 0.2s;
$slow: 0.5s;
$crawling: 1s; 

//text
$body-text-size: 2rem;
$body-text-line-height: 2.8rem;
$smoothing: antialiased;

//breakpoints
$breakpoint-tablet: 480px;
$breakpoint-desktop: 1024px;

//grid
$gutter: 3.2rem;
$doublegutter: $gutter * 2;

//layers
$bottom-layer:10;
$middle-layer:20;
$top-layer:30;
$super-layer:40;
$god-layer:50;

html {
  //set font size so 1rem = 10px
  font-size: 62.5%;
}
html {
  height: 100%;
}
body {
}
//fonts

@font-face {
    font-family: 'nb_grotesksemibold';
    src: url('../fonts/nbgrotesk-semibold-webfont.eot');
    src: url('../fonts/nbgrotesk-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nbgrotesk-semibold-webfont.woff2') format('woff2'),
         url('../fonts/nbgrotesk-semibold-webfont.woff') format('woff'),
         url('../fonts/nbgrotesk-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
 font-family: 'SuisseIntl-Book';
 src: url("../fonts/SuisseIntl-Book.eot");
 src: url("../fonts/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Book.woff2") format("woff2"), url("../fonts/SuisseIntl-Book.woff") format("woff"), url("../fonts/SuisseIntl-Book.ttf") format("truetype");
 font-weight: normal;
 font-style: normal; 
}
//set box sizing mode
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'SuisseIntl-Book', sans-serif;
  font-size:$body-text-size;
  font-weight:normal;
  line-height:$body-text-line-height;
  color:$black;
  background:$white; 
  -webkit-font-smoothing: $smoothing;
  background:#FFF;
  overflow-x:hidden;
  overflow-y:hidden;
  @media (min-width: $breakpoint-desktop){
   // overflow-y:scroll;
  }
  
}

// mixins
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
$deg: -90deg;
@mixin ninetyDeg{
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}
@mixin flex{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

//video general
video{
  object-fit: fill;
}

//helpful classes
@mixin vertical-align-element{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
@mixin vertical-align-parent{
  top:50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

//fade-in class for sequential fading
.fade-in, .pre-load-fade-in{
  opacity:0;
  transition: opacity $fast;
}

//default anchors and typography
a:link, a:visited, a:active, a:hover{
  color:$black;
  text-decoration:none;
}
a{
  transition: opacity $fast;
}
a.close-button{
  position:absolute;
  top:0.5rem;
  right:1rem;
  z-index:$god-layer;
}
p,h1, h2, h3{
  font-weight:normal;
  margin:0;
  padding:0;
}
h1{
  font-family:'nb_grotesksemibold';
  text-transform: uppercase;
}
p{
  font-size:2rem;
  line-height:2.8rem;
  letter-spacing:-0.04rem;
}
p.mini-text{
  font-size:1.4rem;
  line-height:1.8rem;
}
p.big-text{
  font-size:3.5rem;
  line-height:4rem;
  letter-spacing:-0.1rem;
    @media (min-width: $breakpoint-desktop){
      font-size:5rem;
      line-height:5.5rem;
      letter-spacing:normal;
  }
  a{
    border-bottom:0.4rem solid $black;
  }
}

//lay-out elements and wrappers
div#images-wrapper{
  @include flex;
  position:absolute;
  height:77.3vh;
  width:100vw;
  overflow-x: scroll;
  overflow-y:hidden;
  -webkit-overflow-scrolling:touch;
  //breakpoint desktop
  @media (min-width: $breakpoint-desktop){
    display:block;
    width:72.57vw;
    left:27.43vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:scroll;
  }
  div.images-cluster{
    @include flex;
    height:77.3vh;
    //breakpoint desktop
    @media (min-width: $breakpoint-desktop){
      flex-direction: column;
      width:72.57vw;
      height:auto;
    }
    img{
      height:77.3vh;
      width:auto;
       //breakpoint desktop
      @media (min-width: $breakpoint-desktop){
        width:72.57vw;
        height:auto;
      } 
    }
  }
  &::-webkit-scrollbar { 
    //display: none; 
  }
}

div#titles-wrapper{
  position:absolute;
  bottom:4.8rem;
  height:calc(22.7vh - 4.8rem);
  width:100vw;
  overflow:hidden;
  //background:#00FFFF;
  @include flex;
  padding:1rem 0 1rem 0;
  //breakpoint desktop
  @media (min-width: $breakpoint-desktop){
    transform: rotate(90deg);
    transform-origin:0% 0%;
    top:0;
    left:calc(27.43vw);
    width:100vh;
    height:calc(27.43vw - 6.8rem);
    padding:0;
  }
  div.project-title-wrapper{
    padding-left:1rem;
    padding-right:1rem;
    position:absolute;
    height:calc(22.7vh - 6.8rem);
    background:#FFF;
    @media (min-width: $breakpoint-desktop){
      height:calc(27.43vw - 6.8rem);
      padding-top:2rem;
      padding-left:2rem;
      padding-right:2rem;
    }
    svg{
      display:block;
      height:100%;
      width:auto;
      @media (min-width: $breakpoint-desktop){
      }//svg breakpoint desktop
    }//svg default (mobile)
  }//project-title-wrapper
}//titles-wrapper

div#info-ribbon{
  height:4.8rem;
  padding:1rem;
  position:absolute;
  bottom:0;
  left:0;
  width:100vw;
  //background:#FF00FF;
  @media (min-width: $breakpoint-desktop){
    transform: rotate(-90deg);
    transform-origin:0% 100%;
    width:100vh;
    height:6.8rem;
    left:6.8rem;
    padding:2rem;
  }
  span{
    @media (min-width: $breakpoint-desktop){
      float:right;
    }
  }
  a{
    float:right;
    @media (min-width: $breakpoint-desktop){
      float:left;
    }
  }
}
section#l-about-wrapper{
  position:absolute;
  width:100vw;
  height:100vh;
  z-index:$top-layer;
  padding:7rem 1rem 1rem 1rem;
  background:$white;
  @media (min-width: $breakpoint-desktop){
    padding:2rem 2rem 2rem 6rem; 
  }
}
div#about-spacer{
  display:block;
  height:7rem;
  @media (min-width: $breakpoint-desktop){
    height:8rem;
  }
}